[submodule "third_party/pybind11"]
    ignore = dirty
    path = third_party/pybind11
    url = https://gitee.com/mlb810/pybind11.git
[submodule "third_party/cub"]
    ignore = dirty
    path = third_party/cub
    url = https://gitee.com/mlb810/cub.git
[submodule "third_party/eigen"]
    ignore = dirty
    path = third_party/eigen
    url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/googletest"]
    ignore = dirty
    path = third_party/googletest
    url = https://gitee.com/mlb810/googletest.git
[submodule "third_party/benchmark"]
    ignore = dirty
    path = third_party/benchmark
    url = https://gitee.com/mlb810/benchmark.git
[submodule "third_party/protobuf"]
    ignore = dirty
    path = third_party/protobuf
    url = https://gitee.com/mlb810/protobuf.git
[submodule "third_party/ios-cmake"]
    ignore = dirty
    path = third_party/ios-cmake
    url = https://gitee.com/mlb810/ios-cmake.git
[submodule "third_party/NNPACK"]
    ignore = dirty
    path = third_party/NNPACK
    url = https://gitee.com/mlb810/NNPACK.git
[submodule "third_party/gloo"]
    ignore = dirty
    path = third_party/gloo
    url = https://gitee.com/mlb810/gloo
[submodule "third_party/NNPACK_deps/pthreadpool"]
    ignore = dirty
    path = third_party/pthreadpool
    url = https://gitee.com/mlb810/pthreadpool.git
[submodule "third_party/NNPACK_deps/FXdiv"]
    ignore = dirty
    path = third_party/FXdiv
    url = https://gitee.com/mlb810/FXdiv.git
[submodule "third_party/NNPACK_deps/FP16"]
    ignore = dirty
    path = third_party/FP16
    url = https://gitee.com/mlb810/FP16.git
[submodule "third_party/NNPACK_deps/psimd"]
    ignore = dirty
    path = third_party/psimd
    url = https://gitee.com/mlb810/psimd.git
[submodule "third_party/zstd"]
    ignore = dirty
    path = third_party/zstd
    url = https://gitee.com/mlb810/zstd.git
[submodule "third-party/cpuinfo"]
    ignore = dirty
    path = third_party/cpuinfo
    url = https://gitee.com/mlb810/cpuinfo.git
[submodule "third_party/python-enum"]
    ignore = dirty
    path = third_party/python-enum
    url = https://gitee.com/mlb810/enum34.git
[submodule "third_party/python-peachpy"]
    ignore = dirty
    path = third_party/python-peachpy
    url = https://gitee.com/mlb810/PeachPy.git
[submodule "third_party/python-six"]
    ignore = dirty
    path = third_party/python-six
    url = https://gitee.com/mlb810/six.git
[submodule "third_party/onnx"]
    ignore = dirty
    path = third_party/onnx
    url = https://gitee.com/mlb810/onnx.git
[submodule "third_party/onnx-tensorrt"]
    ignore = dirty
    path = third_party/onnx-tensorrt
    url = https://gitee.com/mlb810/onnx-tensorrt
[submodule "third_party/sleef"]
    ignore = dirty
    path = third_party/sleef
    url = https://gitee.com/mlb810/sleef
[submodule "third_party/ideep"]
    ignore = dirty
    path = third_party/ideep
    url = https://gitee.com/mlb810/ideep
[submodule "third_party/nccl/nccl"]
    ignore = dirty
    path = third_party/nccl/nccl
    url = https://gitee.com/mlb810/nccl
[submodule "third_party/gemmlowp/gemmlowp"]
    ignore = dirty
    path = third_party/gemmlowp/gemmlowp
    url = https://gitee.com/mlb810/gemmlowp.git
[submodule "third_party/QNNPACK"]
    ignore = dirty
    path = third_party/QNNPACK
    url = https://gitee.com/mlb810/QNNPACK
[submodule "third_party/neon2sse"]
    ignore = dirty
    path = third_party/neon2sse
    url = https://gitee.com/mlb810/ARM_NEON_2_x86_SSE.git
[submodule "third_party/fbgemm"]
    ignore = dirty
    path = third_party/fbgemm
    url = https://gitee.com/mlb810/FBGEMM
[submodule "third_party/foxi"]
    ignore = dirty
    path = third_party/foxi
    url = https://gitee.com/mlb810/foxi.git
[submodule "third_party/tbb"]
    path = third_party/tbb
    url = https://github.com/oneapi-src/oneTBB.git
    branch = tbb_2018
[submodule "android/libs/fbjni"]
    ignore = dirty
    path = android/libs/fbjni
    url = https://gitee.com/mlb810/fbjni.git
[submodule "third_party/XNNPACK"]
    ignore = dirty
    path = third_party/XNNPACK
    url = https://gitee.com/mlb810/XNNPACK.git
[submodule "third_party/fmt"]
    ignore = dirty
	path = third_party/fmt
	url = https://gitee.com/mlb810/fmt.git
[submodule "third_party/tensorpipe"]
    ignore = dirty
    path = third_party/tensorpipe
    url = https://gitee.com/mlb810/tensorpipe.git
